<div class="user-result">
    <div class="user-avatar">
        {% if usuario.profile and usuario.profile.profile_image %}
            <img src="{{ usuario.profile.profile_image.url }}" alt="{{ usuario.username }}" class="profile-avatar">
        {% else %}
            <img src="/static/post/img/default-avatar.png" alt="{{ usuario.username }}" class="profile-avatar">
        {% endif %}
    </div>
    
    <div class="user-info">
        <h3><a href="{% url 'post:perfil_publico' usuario.username %}">{{ usuario.username }}</a></h3>
        {% if usuario.first_name or usuario.last_name %}
            <p class="user-fullname">{{ usuario.first_name }} {{ usuario.last_name }}</p>
        {% endif %}
    </div>
</div>